* {
      font-family: monospace;
    }
    body {
      background: #ffcd38;
      color: #4a4a4a;
    }
    .Ask {
      width: 50px;
      height: 50px;
      background-color: #ffdd67;

      font-size: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
    }
    .Ask:hover {
      box-shadow: 13px 11px 0px #4a4a4a;
    }
    .holder {
      height: 569px;
      position: relative;
      overflow: hidden;
      background-color: #ffdd67;
      box-shadow: 13px 11px 0px #4a4a4a;
      margin-left: 17px;
      margin-right: 17px;
    }
    textarea {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      resize: none;
    }
    textarea:focus {
      border: none;
    }

    ::-webkit-scrollbar {
      width: 10px;
      cursor: pointer;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
    }
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
      border-radius: 10px;
    }